:root {
  /* Turquoise */
  --main-color: #50AAA9;
  /* analogs of turquoise */
  --analog-color-1: #4D81B8;
  --analog-color-2: #4A96B0;
  --analog-color-3: #95B89B;
  --analog-color-4: #619E7A;
  /* shadows of turquoise */
  --shadow-color-1: #4ED9CD;
  --shadow-color-2: #326B6A;
  --shadow-color-3: #6EBBBD;
  --shadow-color-4: #449190;
  /* color of text */
  --text-color-dark: #1A0C29;
  --text-color-light: #000
    /* not yet */
}

* {
  box-sizing: border-box;
}

html {
  background: linear-gradient(297deg, rgba(77, 129, 184, 1) 0%, rgba(80, 170, 169, 1) 31%, rgba(67, 113, 161, 1) 53%, rgba(20, 52, 123, 1) 100%);
  margin: 0;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 700;
  margin: 0;
  word-break: normal;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 1rem;
}

.service__header {
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  height: 6rem;
  justify-content: center;
}

nav {
  background: linear-gradient(0deg, rgba(80, 170, 169, 0) 0%, rgba(80, 170, 169, 0) 0%, rgba(80, 170, 169, 1) 19%);
  font-size: 1.2rem;
  max-width: 100%;
  position: fixed;
  top: 0;
  width: 100%;
}

nav div ul {
  align-items: center;
}

ul {
  margin: 0;
}

li {
  list-style-type: none;
  padding: 1.5rem;
}

li:hover {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}

nav div ul li:first-of-type {
  padding: 0;
}

nav div ul li:first-of-type:hover {
  background: rgba(0, 0, 0, 0);
}

main {
  margin-top: 10.5rem;
}

div {
  scroll-margin-top: 12rem;
}

.service li {
  max-width: 32%;
  padding: 1rem;
  text-align: center;
}

a {
  color: var(--text-color-dark);
  padding: 1rem;
  text-decoration: none;
}

a img {
  padding-bottom: 1.2rem;
  padding: 0.5rem;
}

.img__logo {
  padding: 0;
}

.content {
  margin: 0 auto;
  max-width: 70rem;
  padding: 1.8rem;
}

nav .content {
  padding-top: 0;
}

.background_content {
  background: rgba(0, 0, 0, 0.05);
}

.image {
  display: block;
  margin: auto;
  max-width: 100%;
}

img {
  display: block;
  margin: auto;
  width: 50%;
}

.icon {
max-width: 100%;
width: 4rem;
}

form {
  border-radius: 25px;
  border: 6px solid rgba(0, 0, 0, 0.3);
  box-shadow: 6px 6px 0 rgba(0, 0, 0, 0.3);
  margin: 0 auto;
  max-width: 100%;
  width: 40rem;
}

form h2 {
  color: rgba(0, 0, 0, 0.3);
  font-size: 2rem;
  text-transform: uppercase;
}

form .element {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1rem;
  width: 100%;
}

.form-group {
  align-items: center;
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 1rem;
}

input,
textarea {
  background: rgba(0, 0, 0, 0);
  border-radius: 25px;
  border: 6px solid rgba(0, 0, 0, 0.3);
  box-shadow: 3px 3px rgba(0, 0, 0, 0.3);
  font-weight: 800;
  margin: 0.5rem;
  padding: 0.75rem 1.25rem;
}

footer {
  background: rgba(0, 0, 0, 0.05);
  border-top: 2px solid rgba(0, 0, 0, 0.1);
}

footer .content {
  background: rgba(0, 0, 0, 0);
}

footer div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer li {
  padding: 0.2rem;
}

.font__footer {
  font-size: 0.85rem;
}

.flex__container {
  display: flex;
  justify-content: center;
  padding: 0;
}

.flex__wrap {
  flex-wrap: wrap;
}