:root {
  /* Turquoise */
  --main-color: #50AAA9;
  /* analogs of turquoise */
  --analog-color-1: #4D81B8;
  --analog-color-2: #4A96B0;
  --analog-color-3: #95B89B;
  --analog-color-4: #619E7A;
  /* shadows of turquoise */
  --shadow-color-1: #4ED9CD;
  --shadow-color-2: #326B6A;
  --shadow-color-3: #6EBBBD;
  --shadow-color-4: #449190;
  /* color of text */
  --text-color-dark: #1A0C29;
  --text-color-light: #000 /* not yet */
  
}

* {
  box-sizing: border-box;
}

html {
  background: rgb(77,129,184);
  background: linear-gradient(297deg, rgba(77,129,184,1) 0%, rgba(80,170,169,1) 31%, rgba(67,113,161,1) 53%, rgba(20,52,123,1) 100%);  margin: 0;
}

body {
margin: 0;
}

nav {
max-width: 100%;
background: rgb(80,170,169);
background: linear-gradient(0deg, rgba(80,170,169,0) 0%, rgba(80,170,169,0) 0%, rgba(80,170,169,1) 19%);
}

ul {
  margin: 0;
}

ul li {
  padding: 1rem;
  list-style-type: none;
}


.content {
  max-width: 70rem;
  margin: 0 auto;
}

.background_content {
  background-color: rgba(0, 0, 0, 0.05);
}

.image {
  display: block;
  max-width: 100%;
  height: auto;
  margin: auto;
}

img {
  display: block;
  margin: auto;
  padding: 1rem;
  width: 50%;
}