:root {
  /* Turquoise */
  --main-color: #50AAA9;
  /* analogs of turquoise */
  --analog-color-1: #4D81B8;
  --analog-color-2: #4A96B0;
  --analog-color-3: #95B89B;
  --analog-color-4: #619E7A;
  /* shadows of turquoise */
  --shadow-color-1: #4ED9CD;
  --shadow-color-2: #326B6A;
  --shadow-color-3: #6EBBBD;
  --shadow-color-4: #449190;
  /* color of text */
  --text-color-dark: #1A0C29;
  --text-color-light: #000
    /* not yet */
}

* {
  box-sizing: border-box;
}

html {
  background: rgb(77, 129, 184);
  background: linear-gradient(297deg, rgba(77, 129, 184, 1) 0%, rgba(80, 170, 169, 1) 31%, rgba(67, 113, 161, 1) 53%, rgba(20, 52, 123, 1) 100%);
  margin: 0;
}

body {
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 700;
}

h1 {
  margin: 0;
  padding: 1rem;
}

h2 {
  margin: 0;
  padding: 1rem;
}

.service__header {
  height: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 8px;
}

h3 {
  margin: 0;
  padding: 1rem;
}

p {
  margin: 0;
  padding: 1rem;
}

nav {
  max-width: 100%;
  background: rgb(80, 170, 169);
  background: linear-gradient(0deg, rgba(80, 170, 169, 0) 0%, rgba(80, 170, 169, 0) 0%, rgba(80, 170, 169, 1) 19%);
  position: fixed;
  top: 0;
  font-size: 1.2rem;
  width: 100%;
}

nav div ul {
  align-items: center;
}

ul {
  margin: 0;
}

.flex__container {
  display: flex;
  padding: 0;
  justify-content: center;
}

.flex__wrap {
  flex-wrap: wrap;
}

li {
  padding: 1.5rem;
  list-style-type: none;
}

nav div ul li:first-of-type {
  padding: 0;
}

li:hover {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}

main {
  margin-top: 12rem;
}

.service li {
  max-width: 32%;
  padding: 1rem;
  text-align: center;
}

a {
  padding: 1rem;
  color: var(--text-color-dark);
  text-decoration: none;
}

a img {
  padding: 0.5rem;
  padding-bottom: 1.2rem;
}

.img__logo {
  padding: 0;
}

.content {
  max-width: 70rem;
  margin: 0 auto;
  padding: 1.8rem;
}

.background_content {
  background-color: rgba(0, 0, 0, 0.05);
}

.image {
  display: block;
  max-width: 100%;
  height: auto;
  margin: auto;
}

img {
  display: block;
  margin: auto;
  padding: 1rem;
  width: 50%;
}

form {
  max-width: 100%;
  padding: 3rem;
  border: 6px solid rgba(0, 0, 0, 0.3);
  box-shadow: 6px 6px 0 rgba(0, 0, 0, 0.3);
  border-radius: 25px;
}

form h2 {
  color: rgba(0, 0, 0, 0.3);
  font-size: 2rem;
  text-transform: uppercase;
}